# Default ignored files
/../../../../../DTUSER~1/Desktop/RADARW~1/RADARW~1/.idea/shelf/
/../../../../../DTUSER~1/Desktop/RADARW~1/RADARW~1/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../DTUSER~1/Desktop/RADARW~1/RADARW~1/.idea/httpRequests/
